body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;


background-color: #ffffff;
  background-image: url("../img/bp.jpg");
  
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;
    
  background-color: #fefefe;
  background-image: url("../img/pattern-light.jpg");
  
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans"
  color: #000000;

  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
.site-navigation a{
  color: #000000;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:active
{
  color: #b2b2b2;
}
.site-navigation-current {
  color: #766357;    
}

.about { 
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.reasons-title {
 text-align: center;
  font-size: 14px;
  line-height: 26px;    
}
.reasons-list,
.recommendation-list{
  list-style: none;
}
.reasons-item,
.recommendation-item{
  text-align: center;
}

.reasons-item h3,
.recommendation-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
} 
.reasons-item-blue{
 color: #ffffff;
 background-color: #81b3d2;   
}
.reasons-item-gray{
 color: #000000;
 background-color: #eeeeee;   
}

.booking h2{
 font-size: 30px;
 line-height: 36px;
 font-weight: bold;
 text-align: center;
 
}
.booking p{
 font-size: 14px;
 line-height: 24px;
 text-align: center;
 
}
.searchform{
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 text-align: center;
 color: #ffffff;
 background-color: #766357;
 text-align: center;
 border: 0;
}

.searchform:hover{
  background-color: #604e43;
  color: #ffffff;
}

.searchform:active{
  background-color: #503e33;
  color: #857871;
}

.appointment-item input,
.calendar,
.add,
.minus {
  background-color: #f2f2f2;
  border: 0;
}
.appointment-item label{
 font-size: 14px;
 line-height: 26px;
 font-weight: bold;   
}

.appointment-item input:hover{
  background-color: #ebebeb;
}
.appointment-item input:active{
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar,
.add,
.minus {
  color: #a9a9a9;
}

.calendar:hover,
.add:hover,
.minus:hover {
   color: #000000;   
}
    
.calendar:active,
.add:active,
.minus:active {
    color: #81b3d2;   
}
       
.button-search {
  font: inherit;
    
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
    
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
}

.button-search:hover{
  background-color: #669ec0; 
}
.button-search:active{
  color: #88b6d1;
  background-color: #5496bd;
}


.sorting fieldset {
  border: none;
}
.sortby {
  list-style: none;
} 
.sorting {
 font-size: 12px;
 line-height: 18px;
}
.sorting p{
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
}
.sortby a {
  color: #9b8d84;
  border-bottom: dotted;
  border-bottom-color: #81b3d2
}

.sortby a:hover{
  color: #81b3d2; 
}
.sortby a:active{
  color: #000000; 
  border-bottom: none;
}
.sortby-current a{
  color: #81b3d2;
  border-bottom: none;
}
 .sorting-metod {
  list-style: none;
} 
.sorting-metod a {
  color: #cacaca;
}
.sorting-metod-current a,
.sorting-metod a:active{
  color: #81b3d2;
}
.sorting-metod a:hover{
  color: #231f20;
}

.hotels-list {
  list-style: none;
} /*как нарисовать рамку?*/

.hotels-item h4 {
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 color: #000000;     
}
.hotels-item h4:hover{
 color: #81b3d2;     
}
.hotels-item h4:active{
 color: #e5e5e5;     
}

.hotels-item p{
 font-size: 14px;
 line-height: 21px; 
 color: #333333;   
} 
.hotels-item b{
 font-size: 14px;
 line-height: 21px; 
 background-color: #f2f2f2;
 color: #666666;   
} 

.button-detail,
.button-reserve{
  text-transform: none;
}
.button-detail,
.button-reserve{
 text-align: center;
 vertical-align: middle;
    
 font-size: 14px;
 line-height: 21px;
 text-transform: uppercase;
    
  color: #ffffff;
  border: none;
}
.button-detail {
  background-color: #81b3d2;
}
.button-reserve{
  background-color: #766357;
}

.button-detail:hover {
  background-color: #669ec0;
}
.button-reserve:hover{
  background-color: #604e43;
}
.button-detail:active {
  background-color: #5496bd;
  color: #75a7c7;
}
.button-reserve:active{
  background-color: #503e33;
  color: #857871;
}


.footer-hashtag a{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.footer-social a{
  text-decoration: none;     
}
.footer-social ul{
 list-style: none;
}
.social-button {
  background-color: #81b3d2;
  color: #ffffff;
}
.social-button:hover {
  background-color: #669ec0;
  color: #ffffff;
}
.social-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-copyright a{
  text-decoration: none;   
}
.footer-copyright b{
  color: #000000; 
  font-size: 14px;
  line-height: 26px;
}


/*.footer-copyright img {
  color: #231f20; 
}
.footer-copyright img:hover{
  color: #81b3d2; 
}
.footer-copyright img:active{
  color: #bdbbbc; 
}*/
